*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body{
  height: 100%;
  width: 100%;
}


#parent{
    width: 100%;
    height: 100%;
    background-color: #333;
    display: flex;/* just to flex items */
    justify-content: center;/* play with div in x axis */
    align-items: center;/* play with div in y axis */
    
}



#onechild{
    height: 100px;
    width: 100px;
    background-color: red;
}
#twochild{
    height: 100px;
    width: 100px;
    background-color:green;
}
#threechild{
    height: 100px;
    width: 100px;
    background-color: blue;
}