
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width:100%;
    height: 100%;
}

@font-face {
    font-family: he;
    src: url(/Learning_2_Css/lec2/BadOpinionDemoRegular.ttf);
}

.content{
    height: 100%;
    font-weight: 100%;
    background-image: url(https://cdn.pixabay.com/photo/2024/01/23/11/11/ai-generated-8527440_1280.png);
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 70px;
    padding-top: 180px;
}
h1 {
  font-family: he, sans-serif;
  font-size: 100px;
  font-weight: 800; /* use numeric weight */
  background: linear-gradient(
    90deg,
    rgb(1, 8, 11),
    rgb(8, 17, 17),
    rgb(8, 70, 70),
    rgb(81, 200, 200),
    rgb(33, 169, 169),
    rgb(175, 215, 215)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}


button{
    font-size: 20px;
    font-weight: 300px;
    background: rgb(10, 60, 85);
    border: 2px solid #020c2e;
    padding: 10px 18px;
    border-radius: 10px;
}

button:hover {
  background: #5b96bd;
  color: #000;
}
