*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body{
  height: 100%;
  width: 100%;
}
nav{
  min-height: 44px;
  background-color: rgb(255, 255, 255);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 35px;
  padding: 12px 20px;
  z-index: 10;
  position: fixed;
  top: 0;
}

nav a{
  text-decoration: none;
  color: #000;
}

.ri-apple-fill{
  color: #b61b1b;
}


.hero-section{
  min-height: 100vh;
  width: 100%;
  background-size: contain;
  background-position: center bottom;
  background-repeat: no-repeat;
  background-color: #F5F5F7;
}

.iphone-hero{
  background-image: url(hero_iphone_family__fuz5j2v5xx6y_medium.jpg);
}
.fitness-hero{
  background-image: url(hero_apple_fitness_plus__fvrnctwbcgqe_medium.jpg);
}
.watch-hero{
  background-image: url(hero_apple_watch_ny__c8f1tzaoa72a_medium.jpg);
}
.lavender{
  padding: 55px;
}
.lavender>p{
  margin-top: 5.5px;
  text-align: center;
}
.lavender>h1{
  font-family: monospace;
  margin-top: 60px;
  font-size: 3.2rem;
  letter-spacing: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.lavender>.hero-subtitle{
  padding: 10px;
  text-align: center;
  font-weight: 100;
}
.lavender>.hero-btn{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  padding: 7px;
}
.lavender .primary-btn{
  padding: 15px 28px;
  border-radius: 999px;
  background-color: #0071e3;
  color: #fff;
  border: none;
  font-size: 17px;
}

.lavender .secondary-btn{
  padding: 15px 28px;
  border-radius: 999px;
  background-color: #fff;
  color: #0071e3;
  border: 1px solid #0071e3;
  font-size: 17p
}










