/* 
.parent h1{
  font-size: 5rem;
  margin: 40px 0;
  background-image: url(https://www.lovethispic.com/uploaded_images/103931-Colorful-Abstract-Animation.gif?1);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-stroke: 0.3px whitesmoke;
} */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  background-color: #333;
}

.parent {
  min-height: 100vh;
  display: flex;
  gap: 35px;
  padding: 40px;
  background-color: blanchedalmond;
  flex-wrap: nowrap;
  overflow: auto;
}
.parent::-webkit-scrollbar{
    display: none;
}

.child {
  height: 300px;
  width: 250px;
  background-color: #444;    /* VISIBILITY */
  border-radius: 12px;
  flex-shrink: 0;
}
.child img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 12px;
}
