*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body{
  height: 100%;
  width: 100%;
  font-family: monospace;
  line-height: 1.5;
  scroll-behavior: smooth;
  background-color: bisque;
  color: rgb(230, 118, 240);
}
a {
    text-decoration: none;
    color: inherit;
}

#heading{
    min-width: 100%;
    height: 80px;
    padding: 30px;
    background-color: rgb(227, 158, 178);
    color: rgb(138, 138, 68);
    text-align: center;
}
#main{
    user-select: none;
    width: min(1000px,100%);
    margin: 0 auto;
    margin-top: 50px;
    columns: 5;
    column-gap: 10px;
}
#card{
    display: inline-block;
    width: 100%;
    margin-bottom: 6px;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
}
#card>img{
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 20px;
}
#text{
    width: 100%;
    height: 30%;
    position: absolute;
    bottom: -40%;
    background-color: black;
    color: whitesmoke;
    border-radius: 20px;
    background: linear-gradient(transparent,black);
    transition: all 0.3s ease;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    font-size: 120%;
}
#card:hover #text{
    bottom: 0;
}
#text>i{
    height: 30px;
    width: 30px;
    border-radius: 50%;
}
#text>i:hover {
    color: rgb(232, 6, 6);
}

#text>i:active {
    color: rgb(232, 6, 6);
    transform: scale(0.95);
}